@import "general_button.scss";

.general-button {
  $label-size: 18px;
  $icon-size: 27px;
  $label-color: #f8f8f8;
  $popup-dist: 3px;
  $horizontal-padding: 15px;
  $vertical-padding: 6px;
  $radius: 5px;
  $speed: 30ms;
  $button-color: #4385bf;
  $side-darkness: 15%;
  @include general-button($label-size, $icon-size, $label-color, $popup-dist, $horizontal-padding, $vertical-padding, $radius, $speed, $button-color, $side-darkness)
}
